/* for title */
.header{
    background: #000;
    color: white;
}

.header .title{
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 32px;
    font-size: 54px;
}

.header .user-holder{
    float: right;
    margin-right: 32px;
    margin-bottom: 8px;
    margin-top: 8px;
    border: dotted 2px #fff;/*点線*/
}

.header .user-holder .icon{
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.header .user-holder .user-name{
    font-size: 2.5rem;
    margin-left: 8px;
    vertical-align: middle;
}

.header .user-holder .match{
    font-size: 1.2rem;
    margin-left: 8px;
    vertical-align: bottom;
}


/* for copyright */
.footer{
    background: #000;
    color: white;
    margin-top: 64px;
}


/* for game */
.game-wrapper{
    text-align: center;
}

.flex-box{
    display: inline-flex;
}

.game-table{
    width: 400px;
    min-height: 400px;
}

.game-table td{
    width: 33%;
    height: 33%;
    font-size: 52px;
    text-align: center;
    vertical-align: middle;
}

.p-img-left{
    width: 64px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 16px;
}

.p-img-right{
    width: 64px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 16px;
}

.game-table .odd{  /* kisuu */
    background: #64B5F6;
}

.game-table .even{ /* guusuu */
    background: #E0E0E0;
}


/* description */
.box6 {
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #f0f7ff;
    border: dashed 2px #5b8bd0;/*点線*/
    width: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
}
.box6 p {
    margin: 0; 
    padding: 0;
}




